<a href="https://colab.research.google.com/github/Gonyim/Practice/blob/main/programmers_lv0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 설명
# 문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요.

# 제한 조건
# s의 길이는 1 이상 5이하입니다.
# s의 맨앞에는 부호(+, -)가 올 수 있습니다.
# s는 부호와 숫자로만 이루어져있습니다.
# s는 "0"으로 시작하지 않습니다.
# 입출력 예
# 예를들어 str이 "1234"이면 1234를 반환하고, "-1234"이면 -1234를 반환하면 됩니다.
# str은 부호(+,-)와 숫자로만 구성되어 있고, 잘못된 값이 입력되는 경우는 없습니다.

In [ ]:
def solution():
    s = int(s)
    return s

1234

In [ ]:
# 자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 하는 solution 함수를 만들어 주세요.
# 예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.

In [ ]:
n = 123
m = str(n)
# str(n)
# spilt()

# b = 'dsffsdfds'

for i in len(m):
    sum += int(m[i])


sum = list(m[0]) + list(m[1]) + list(m[2])
int(m[0]) + int(m[1]) + int(m[2])
# n.split(',')

3

In [ ]:
n = 124223
total_sum = 0 
def solution():
    
    for i in range(0, len(str(n))):
        total_sum += int(str(n)[i])
    return total_sum

result = solution()
print(result)

14

In [ ]:
n = 124223

def solution():
    total = 0
    for i in range(0, len(str(n))):
        total += int(str(n)[i])
    
    return total

result = solution()
print(result)  # 출력: 14

14

In [ ]:
#100,000,000 이하 자연수

def solution(n):
    answer = 0
    a = n // 100000000
    n = n % 100000000
    b = n // 10000000
    n = n % 10000000
    c = n // 1000000
    n = n % 1000000
    d = n // 100000
    n = n % 100000
    e = n // 100000
    n = n % 100000
    f = n // 100000
    n = n % 100000
    g = n // 10000
    n = n % 10000
    h = n // 1000
    n = n % 1000
    i = n // 100
    n = n % 100
    j = n // 10
    k = n % 10
    answer = a + b + c + d + e + f + g + h + i + j + k
    return answer

1

In [ ]:
def solution():
    answoer = 0

In [ ]:
# 예를 들어, 상수의 앞에 쌓이는 재료의 순서가 [야채, 빵, 빵, 야채, 고기, 빵, 야채, 고기, 빵]일 때, 
# 상수는 여섯 번째 재료가 쌓였을 때, 세 번째 재료부터 여섯 번째 재료를 이용하여 햄버거를 포장하고, 
# 아홉 번째 재료가 쌓였을 때, 두 번째 재료와 일곱 번째 재료부터 아홉 번째 재료를 이용하여 햄버거를 포장합니다.
# 즉, 2개의 햄버거를 포장하게 됩니다.

# 상수에게 전해지는 재료의 정보를 나타내는 정수 배열 ingredient가 주어졌을 때,
# 상수가 포장하는 햄버거의 개수를 return 하도록 solution 함수를 완성하시오.

In [ ]:
# [2, 1, 1, 2, 3, 1, 2, 3, 1]	2
# [1, 3, 2, 1, 2, 1, 3, 1, 2]	0

In [ ]:
l = [2, 1, 1, 2, 3, 1, 2, 3, 1]
h = []
ham_count = 0

for i in l:
    h.append(i)
    if [1, 2, 3, 1] in h:
        remove,l[1, 2, 3, 1]
        ham_count += 1

ham_count

0

In [ ]:
l = [2, 1, 1, 2, 3, 1, 2, 3, 1]

1, 2, 3 in l

(1, 2, True)

In [ ]:
# 2023/05/18

In [ ]:
# 대문자와 소문자가 섞여있는 문자열 s가 주어집니다. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 다르면 False를 return 하는 solution를 완성하세요. 'p', 'y' 모두 하나도 없는 경우는 항상 True를 리턴합니다. 단, 개수를 비교할 때 대문자와 소문자는 구별하지 않습니다.

# 예를 들어 s가 "pPoooyY"면 true를 return하고 "Pyy"라면 false를 return합니다.

In [ ]:
s = "Pyy"

a = s.upper().count('P')
b = s.upper().count('Y')

print(a == b)

False

In [ ]:
def solution(s):
    a = s.upper().count('P')
    b = s.upper().count('Y')
    return a == b

solution(s)

True

In [ ]:
[1,1,3,3,0,1,1]	[1,3,0,1]

In [ ]:
def solution(arr):
    answer_set = []
    answer_set = set(arr)
    return answer_set

answer_set

arr()

In [ ]:
def solution(arr):
    answer_set = set(arr)  # 리스트를 집합(set)으로 변환하여 중복된 원소 제거
    return answer_set

arr = [1, 1, 1, 2, 3, 3, 5, 5]
result = solution(arr)

print(result)

{1, 2, 3, 5}

In [ ]:
배열 arr가 주어집니다. 배열 arr의 각 원소는 숫자 0부터 9까지로 이루어져 있습니다. 이때, 배열 arr에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 단, 제거된 후 남은 수들을 반환할 때는 배열 arr의 원소들의 순서를 유지해야 합니다. 예를 들면,

arr = [1, 1, 3, 3, 0, 1, 1] 이면 [1, 3, 0, 1] 을 return 합니다.
arr = [4, 4, 4, 3, 3] 이면 [4, 3] 을 return 합니다.
배열 arr에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 return 하는 solution 함수를 완성해 주세요.

제한사항
배열 arr의 크기 : 1,000,000 이하의 자연수
배열 arr의 원소의 크기 : 0보다 크거나 같고 9보다 작거나 같은 정수

[1,1,3,3,0,1,1]	[1,3,0,1]

In [ ]:
answer = [1, 1, 2, 3, 3, 4]
a = set(answer)

a

{1, 2, 3, 4}

In [ ]:
문자열 str이 주어질 때, str을 출력하는 코드를 작성해 보세요.

제한사항
1 ≤ str의 길이 ≤ 1,000,000
str에는 공백이 없으며, 첫째 줄에 한 줄로만 주어집니다.

In [ ]:
str = input()

print(str)

helloworld!!
helloworld!!

In [ ]:
# 정수 a와 b가 주어집니다. 각 수를 입력받아 입출력 예와 같은 형식으로 출력하는 코드를 작성해 보세요.

In [ ]:
a,b = input().split()

print("a =", a)
print("b =", b)

In [ ]:
a, b = input().split()

print(f'a = {a}\nb = {b}')

4 5
a = 4
b = 5

In [ ]:
a = map(int, input())

# b = int(a)
# c = int(a)
c = a
type(a)

print(a)
# type(a), type(b), type(c)

# print(list(c))

In [ ]:

a, b = map(int, input().strip().split(' '))
print(f"a = {a}\nb = {b}")

type(a)
type(b)

In [ ]:
# 문자열 str과 정수 n이 주어집니다.
# str이 n번 반복된 문자열을 만들어 출력하는 코드를 작성해 보세요.

# 1 ≤ str의 길이 ≤ 10
# 1 ≤ n ≤ 5

# string 5

# stringstringstringstringstring

In [ ]:
a, b = input().strip().split(' ')
b = int(b)

a*b

sdjsdj 10

'sdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdjsdj'

In [ ]:
# 영어 알파벳으로 이루어진 문자열 str이 주어집니다. 각 알파벳을 대문자는 소문자로 소문자는 대문자로 변환해서 출력하는 코드를 작성해 보세요.

In [ ]:
# a.islower()
# a.isupper()
a = input()
result = ''
for i in a:
    if i.isupper():
        result += i.lower()
    else:
        result += i.upper()

print(result)

jwjwSdmnsX
JWJWsDMNSx

In [ ]:
print(input().swapcase())

soosSSSdfXaa
SOOSsssDFxAA

In [ ]:
print('!@#$%^&*(\\\'"<>?:;')

!@#$%^&*(\'"<>?:;

In [ ]:
# 두 개의 문자열 str1, str2가 공백으로 구분되어 입력으로 주어집니다.
# 입출력 예와 같이 str1과 str2을 이어서 출력하는 코드를 작성해 보세요.

str1, str2 = input().strip().split(' ')

print(str1 + str2)

aplle pen
apllepen

In [ ]:
print(input().strip().replace(' ', ''))

apple pen
applepen

In [ ]:
# 문자열 str이 주어집니다.
# 문자열을 시계방향으로 90도 돌려서 아래 입출력 예와 같이 출력하는 코드를 작성해 보세요.

a = input()
b = ""
for i in a:
    print(i)

alslx
a
l
s
l
x

In [ ]:
# 자연수 n이 입력으로 주어졌을 때 만약 n이 짝수이면 "n is even"을, 홀수이면 "n is odd"를 출력하는 코드를 작성해 보세요.

In [ ]:
n = int(input())

if n % 2 == 0:
    print(f'{n} is even')
else:
    print(f'{n} is odd')

223
223 is odd

In [ ]:
# 문자열 my_string, overwrite_string과 정수 s가 주어집니다.
# 문자열 my_string의 인덱스 s부터 overwrite_string의 길이만큼을 문자열 overwrite_string으로 바꾼 문자열을 return 하는 solution 함수를 작성해 주세요.

# "He11oWor1d"	"lloWorl"	2	"HelloWorld"
# "Program29b8UYP"	"merS123"	7	"ProgrammerS123"

In [ ]:
my_string, overwrite_string = input().split()
s = int(input())

my_string[s:] = overwrite_string

print(my_string)

In [ ]:
my_string, overwrite_string = input().split()
s = int(input())

my_string = my_string[:s] + overwrite_string + my_string[s+len(overwrite_string):]
print(my_string)

In [ ]:
def solution(str1, str2):
    for i in range(0, len(str(str1))):
        answer += str1[i] + str2[i]
    return answer

In [ ]:
# ["a","b","c"]	"abc"

6

In [ ]:
z = ["a","b","c"]

join(z, '')

In [ ]:
my_list = ['Hello', 'World', 'Python']
result = '$abc'.join(my_list)
print(result)

Hello$abcWorld$abcPython

In [ ]:
# 문자열 my_string과 정수 k가 주어질 때, my_string을 k번 반복한 문자열을 return 하는 solution 함수를 작성해 주세요.

def solution(my_string, k):
    answer = my_string * k
    return answer
    

solution('aaa', 3)

'aaaaaaaaa'

In [ ]:
a = '*'

for i in range(1,10,2):
    z = a * i

    print(z)

*
***
*****
*******
*********

In [ ]:
a = '*'

for i in range(1, 10, 2):
    z = a * i
    print(z.center(9))

    *
   ***
  *****
 *******
*********

In [ ]:
a = '*'

for i in range(1, 10, 2):
    z = a * i
    print(' ' * ((9 - i) // 2) + z)

    *
   ***
  *****
 *******
*********

In [ ]:
print('    *')
print('   ***')
print('  *****')
print(' *******')
print('*********')

    *
   ***
  *****
 *******
*********

In [ ]:
b = 0
for i in range(1,101):
    a = ''
    if i % 2 == 1:
        a += str(i)
        print(a, end =" ")
        b += int(i)
    else:
        a += str(-i)
        print(a, end =" ")
        b -= int(i)

print('\n결과 :', b )

In [ ]:
a = 0

for i in range(1, 78):
    a += ((78-i) * (i))

print(a)

79079

In [ ]:
a = 1
n = int(input("정수를 입력해주세요)"))
for i in range(0, n):
    a += i
    print(a, end =" ")

정수를 입력해주세요)7
1 2 4 7 11 16 22

In [ ]:
연산 ⊕는 두 정수에 대한 연산으로 두 정수를 붙여서 쓴 값을 반환합니다. 예를 들면 다음과 같습니다.

12 ⊕ 3 = 123
3 ⊕ 12 = 312
양의 정수 a와 b가 주어졌을 때, a ⊕ b와 b ⊕ a 중 더 큰 값을 return 하는 solution 함수를 완성해 주세요.

단, a ⊕ b와 b ⊕ a가 같다면 a ⊕ b를 return 합니다.

In [ ]:
def solution(a, b):
    answer1 = str(a) + str(b)
    answer2 = str(b) + str(a)
    if int(answer1) > int(answer2):
        return int(answer1)
    else:
        return int(answer2)

solution(2234, 54)

542234

In [ ]:
a = 2
b = 3
def solution(a, b):
    return int(max(f"{a}{b}", f"{b}{a}"))

In [ ]:
def solution(ineq, eq, n, m):
    answer = 0
    if eq == "=":
        elif boolen(n, ineq, eq, m) == 1:
            return 1
    elif boolen(m, ineq, m) == 1:
        return 1
    else:
        return 0
            
            
        return answer

solution("<", "=", 10, 20)

SyntaxError: ignored

In [ ]:
def solution(ineq, eq, n, m):
    answer = 0
    if eq == "=":
        if boolen(n, ineq, eq, m) == 1:
            return 1
    elif boolen(m, ineq, m) == 1:
        return 1
    else:
        return 0

solution("<", "=", 10, 20)

In [ ]:
def solution(ineq, eq, n, m):
    if ineq == "<":
        if eq == "=":
            return int(n <= m)
        elif eq == "!":
            return int(n < m)
    elif ineq == ">":
        if eq == "=":
            return int(n >= m)
        elif eq == "!":
            return int(n > m)
    return 0

In [ ]:
def solution(a, b, flag):
    
    if flag == "true":
        return a + b
    else:
        return a - b

solution(-4, 7, 'true')

3

In [ ]:
S = int(input("시험점수를 입력해주세요"))
if 100 >= S >= 90:
    print('A')
elif 80 <= S < 90:
    print('B')
elif 70 <= S < 80:
    print('C')
elif 60 <= S < 70:
    print('D')
else:
    print('F')

In [ ]:
# 1부터 6까지 숫자가 적힌 주사위가 세 개 있습니다. 세 주사위를 굴렸을 때 나온 숫자를 각각 a, b, c라고 했을 때 얻는 점수는 다음과 같습니다.

# 세 숫자가 모두 다르다면 a + b + c 점을 얻습니다.
# 세 숫자 중 어느 두 숫자는 같고 나머지 다른 숫자는 다르다면 (a + b + c) × (a2 + b2 + c2 )점을 얻습니다.
# 세 숫자가 모두 같다면 (a + b + c) × (a2 + b2 + c2 ) × (a3 + b3 + c3 )점을 얻습니다.
# 세 정수 a, b, c가 매개변수로 주어질 때, 얻는 점수를 return 하는 solution 함수를 작성해 주세요.

In [ ]:
a, b, c = input().split()

if a != b and b != c:
    return a+b+c
elif a == b or b == c:
    return (a + b + c) * (a*2 + b*2 + c*2)
else:
    return (a + b + c) * (a*2 + b*2 + c*2) * (a*3 + b*3 + c*3)

In [ ]:
a = 4
b = 4
c = 4

answer = (a + b + c) * (a*a + b*b + c*c) * (a*a*a + b*b*b + c*c*c)
print(answer)

110592

In [ ]:
def solution(a, b, c):
    answer = 0
    
    if a != b and b != c:
        answer = a+b+c
    elif a == b or b == c:
        answer = (a + b + c) * (a*a + b*b + c*c)
    elif a == b and b == c:
        answer = (a + b + c) * (a*a + b*b + c*c) * (a*a*a + b*b*b + c*c*c)
        
    return answer

solution(4, 4, 4)
print(answer)

110592

In [ ]:
import random                # 파이썬 내장 모듈 임포트
 
a = random.randint(1,100)   # 1부터 100까지의 정수 중 랜덤으로 하나 뽑는다.
b = random.randint(1,100)
c = random.randint(1,100)
d = random.randint(1,100)
e = random.randint(1,100)
f = random.randint(1,100)
g = random.randint(1,100)
h = random.randint(1,100)

z = [a, b, c, d, e, f, g, h]

print(f'가장 큰 값 : {max(z)}\n가장 작은 값 : {min(z)}')

가장 큰 값 : 77
가장 작은 값 : 8

In [ ]:
import random                # 파이썬 내장 모듈 임포트

z = list(range(0,8))

for i in range(0,7):
    z[i] = random.randint(1,100)

print(z)
print(f'가장 큰 값 : {max(z)}\n가장 작은 값 : {min(z)}')

[61, 18, 82, 5, 3, 84, 21, 7]
가장 큰 값 : 84
가장 작은 값 : 3

In [ ]:
b = ''

for i in range(1,11):
    a = int(input(f'{i}번째 정수 입력 : '))
    if a % 3 == 0:
        b += str(a)

print(f'3의 배수 : {b}')

In [ ]:
b = []

for i in range(1, 11):
    a = int(input(f'{i}번째 정수 입력: '))
    if a % 3 == 0:
        b.append(str(a))

result = ', '.join(b)
print(f'3의 배수: {result}')

In [ ]:
import random                # 파이썬 내장 모듈 임포트

z = list(range(0,6))

for i in range(0,6):
    z[i] = random.randint(1,46)

if len(set(a)) == 6:
    print(z)

In [ ]:
import random                # 파이썬 내장 모듈 임포트

z = list(range(0,6))

for i in range(0,6):
    z[i] = random.randint(1,46)
    print(f'행운의숫자 : {z[i]}')

행운의숫자 : 8
행운의숫자 : 32
행운의숫자 : 37
행운의숫자 : 26
행운의숫자 : 41
행운의숫자 : 15

In [ ]:
import random

z = []
while len(z) < 6:
    num = random.randint(1, 46)
    if num not in z:  # 중복 체크
        z.append(num)
        print(f'행운의 숫자: {num}')

In [ ]:
import random

z = []

while len(z) < 6:
    num = random.randint(1, 46)
    if num not in z:
        z.append(num)

for num in z:
    print(f'행운의 숫자: {num}')

In [ ]:
import random

z = set()

while len(z) < 6:
    z.add(random.randint(1, 46))

for num in z:
    print(f'행운의 숫자: {num}')

In [ ]:
import random

b = []

for i in range(0,5):
    a = random.randint(1, 10)
    b.append(a)
    print(f'{i}번째 별의 수 : {a}')

for i in range(0,5):
    print(b[i],':',b[i] * '*')

0번째 별의 수 : 4
1번째 별의 수 : 9
2번째 별의 수 : 4
3번째 별의 수 : 6
4번째 별의 수 : 8
4 : ****
9 : *********
4 : ****
6 : ******
8 : ********

In [ ]:
"abc1abc1abc"
i	code[i]	mode	ret
0	"a"	    0	    "a"
1	"b"	    0	    "a"
2	"c"	    0	    "ac"
3	"1"	    1	    "ac"
4	"a"	    1	    "ac"
5	"b"	    1	    "acb"
6	"c"	    1	    "acb"
7	"1"	    0	    "acb"
8	"a"	    0	    "acba"
9	"b"	    0	    "acba"
10	"c" 	0	    "acbac"

In [ ]:
a = [92, 32, 52, 9, 81, 2, 68]
b = []
c = 0
d = 0

for i in range(1,7):
    if a[i-1] > a[i]:
        b[i] = a[i-1]-a[i]
    else:
        b[i] = a[i]-a[i-1]

print(b)

In [ ]:
a = int(input("현재몸무게"))
b = int(input("목표몸무게"))
c = int(input("1주차 감량 몸무게"))
d = int(input("2주차 감량 몸무게"))
e = int(input("3주차 감량 몸무게"))
f = int(input("4주차 감량 몸무게"))
g = int(input("5주차 감량 몸무게"))
h = int(input("6주차 감량 몸무게"))
i = int(input("7주차 감량 몸무게"))
j = a

for i in [c, d, e, f, g, h, i]:
    j = j-i
    
    if b > j:
        print( j,"kg달성!! 축하합니다!")

In [ ]:
a = 5000
b = 7500
money = 0

z = int(input("일한시간을 입력하세요"))

if z > 8:
    money = (8*5000) + ((z-8)*(7500))
else:
    money = z * 5000

print("총 임금은", money,"원 입니다.")

일한시간을 입력하세요10
총 임금은 55000 원 입니다.

In [ ]:
for i in range(1,101):
    a = 0
    b = 0
    c = 0

    if i % 2 == 1:
        a += i
        c += i
        print(i, end=" ")
    else:
        b -= i
        c += b
        print(-i, end = " ")

print(\n, "결과 :", c)

1 -2 3 -4 5 -6 7 -8 9 -10 11 -12 13 -14 15 -16 17 -18 19 -20 21 -22 23 -24 25 -26 27 -28 29 -30 31 -32 33 -34 35 -36 37 -38 39 -40 41 -42 43 -44 45 -46 47 -48 49 -50 51 -52 53 -54 55 -56 57 -58 59 -60 61 -62 63 -64 65 -66 67 -68 69 -70 71 -72 73 -74 75 -76 77 -78 79 -80 81 -82 83 -84 85 -86 87 -88 89 -90 91 -92 93 -94 95 -96 97 -98 99 -100
결과: -50

In [ ]:
c = 0

for i in range(1, 101):
    if i % 2 == 1:
        c += i
        print(i, end=" ")
    else:
        c -= i
        print(-i, end=" ")

print("\n결과:", c)

In [ ]:
result = 0

for i in range(1, 101):
    result += i * (-1) ** (i % 2)
    print(i * (-1) ** (i % 2), end=" ")

print("\n결과:", result)

In [ ]:
numbers = [i * (-1) ** (i % 2) for i in range(1, 101)]
result = sum(numbers)

print(' '.join(map(str, numbers)))
print("결과:", result)

In [ ]:
total_money = int(input("총 금액을 입력"))
z = 0

if total_money > 10000:
    a = total_money // 10000
    z = total_money % 10000
    
elif z > 5000:
    b = z // 5000
    z = z % 5000
    
elif z > 1000:
    c = z // 1000
    z = z % 1000
    
elif z > 500:
    d = z // 500
    z = z % 500
    
elif z > 100:
    e = z // 100

print(f'잔돈 : {total_money}')
print(f'10000원 : {a}개 ')
print(f'5000원 : {b}개 ')
print(f'1000원 : {c}개 ')
print(f'500원 : {d}개 ')
print(f'100원 : {e}개 ')

총 금액을 입력25400
잔돈 : 25400
10000원 : 2개
5000원 : -2550개
1000원 : -50개
500원 : 5개
100원 : 3개

In [ ]:
total_money = int(input("총 금액을 입력: "))
z = total_money

if z > 10000:
    a = z // 10000
    z = z % 10000
else:
    a = 0

if z > 5000:
    b = z // 5000
    z = z % 5000
else:
    b = 0

if z > 1000:
    c = z // 1000
    z = z % 1000
else:
    c = 0

if z > 500:
    d = z // 500
    z = z % 500
else:
    d = 0

if z > 100:
    e = z // 100
else:
    e = 0

print(f'잔돈 : {total_money}')
print(f'10000원 : {a}개')
print(f'5000원 : {b}개')
print(f'1000원 : {c}개')
print(f'500원 : {d}개')
print(f'100원 : {e}개')

총 금액을 입력: 25400
잔돈 : 25400
10000원 : 2개
5000원 : 1개
1000원 : 0개
500원 : 0개
100원 : 4개

In [ ]:
total_money = int(input("총 금액을 입력: "))

coins = [10000, 5000, 1000, 500, 100]
counts = [total_money // coin for coin in coins]

print(f'잔돈 : {total_money}')
for coin, count in zip(coins, counts):
    print(f'{coin}원 : {count}개')

In [ ]:
count = input("행 개수")

for i in range(1,int(count)+1):
    print("*" * i)

In [ ]:
result = 0

for i in range(1, 78):
    result += ((78-i)*i)

print(result)

79079

In [ ]:
count = input("행 개수")

for i in range(1,int(count)+1):
    print("*" * (int(count)-i))

In [ ]:
import math

count = int(input("숫자 입력 : "))

z = round(count,-1)
print(z)

숫자 입력128
130

In [ ]:
import random

list = []
for i in range(8):

In [ ]:
code = "abc1abc1abc"
mode = 0
list = []

for  i in range(0, len(code)):
    if mode == 0 and i % 2 == 0:
        list.append(code[i])
    elif mode == 0 and i % 2 == 1:
        pass
    elif mode == 0 and code[i] == 1:
        mode = 1
    elif mode == 1 and i % 2 == 1:
        list.append(code[i])
    elif mode == 1 and i % 2 == 0:
        pass
    elif mode == 1 and code[i] == 1:
        mode = 0

print(list)

['a', 'c', 'a', 'c', 'a', 'c']

'a'

# 뭐야 lv0 아래단계있었눙

In [ ]:
def solution(num1, num2):
    answer = num1 // num2
    return answer

In [ ]:
def solution(num1, num2):
    if num1 == num2:
        answer = 1
    else:
        answer = -1
    return answer

# 첫 번째 분수의 분자와 분모를 뜻하는 numer1, denom1, 두 번째 분수의 분자와 분모를 뜻하는 numer2, denom2가 매개변수로 주어집니다. 두 분수를 더한 값을 기약 분수로 나타냈을 때 분자와 분모를 순서대로 담은 배열을 return 하도록 solution 함수를 완성해보세요.

In [ ]:
def solution(numer1, denom1, numer2, denom2):
    if denom1 == denom2:
        numer = numer1 + numer2
        return(numer, denom1)
    else:
        denom = denom1 * denom2
        numer = (numer1*denom2) + (numer2*denom1)
        if denom % denom1 == 0 and denom % denom2 == 0:
            denom = denom / denom1
            numer = numer / denom1
            return(numer, denom)

In [ ]:
def solution(denum1, num1, denum2, num2):
    answer = []    
    a=0
    b=0
    a=denum1*num2+denum2*num1
    b=num2*num1
    for j in range(1,1000):
        for i in range(1,1000):
            if (a%i)==0 and (b%i)==0:
                a=a/i
                b=b/i
        answer=[a,b]
    return answer

In [ ]:
from fractions import Fraction

def solution(denum1, num1, denum2, num2):
    answer = Fraction(denum1, num1) + Fraction(denum2, num2)
    return [answer.numerator, answer.denominator]