<a href="https://colab.research.google.com/github/Gonyim/Practice/blob/main/programmers_lv0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 설명
# 문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요.

# 제한 조건
# s의 길이는 1 이상 5이하입니다.
# s의 맨앞에는 부호(+, -)가 올 수 있습니다.
# s는 부호와 숫자로만 이루어져있습니다.
# s는 "0"으로 시작하지 않습니다.
# 입출력 예
# 예를들어 str이 "1234"이면 1234를 반환하고, "-1234"이면 -1234를 반환하면 됩니다.
# str은 부호(+,-)와 숫자로만 구성되어 있고, 잘못된 값이 입력되는 경우는 없습니다.

In [ ]:
def solution():
    s = int(s)
    return s

1234

In [ ]:
# 자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 하는 solution 함수를 만들어 주세요.
# 예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.

In [ ]:
n = 123
m = str(n)
# str(n)
# spilt()

# b = 'dsffsdfds'

for i in len(m):
    sum += int(m[i])


sum = list(m[0]) + list(m[1]) + list(m[2])
int(m[0]) + int(m[1]) + int(m[2])
# n.split(',')

3

In [ ]:
n = 124223
total_sum = 0 
def solution():
    
    for i in range(0, len(str(n))):
        total_sum += int(str(n)[i])
    return total_sum

result = solution()
print(result)

14

In [ ]:
n = 124223

def solution():
    total = 0
    for i in range(0, len(str(n))):
        total += int(str(n)[i])
    
    return total

result = solution()
print(result)  # 출력: 14

14

In [ ]:
#100,000,000 이하 자연수

def solution(n):
    answer = 0
    a = n // 100000000
    n = n % 100000000
    b = n // 10000000
    n = n % 10000000
    c = n // 1000000
    n = n % 1000000
    d = n // 100000
    n = n % 100000
    e = n // 100000
    n = n % 100000
    f = n // 100000
    n = n % 100000
    g = n // 10000
    n = n % 10000
    h = n // 1000
    n = n % 1000
    i = n // 100
    n = n % 100
    j = n // 10
    k = n % 10
    answer = a + b + c + d + e + f + g + h + i + j + k
    return answer

1

In [ ]:
def solution():
    answoer = 0

In [ ]:
# 예를 들어, 상수의 앞에 쌓이는 재료의 순서가 [야채, 빵, 빵, 야채, 고기, 빵, 야채, 고기, 빵]일 때, 
# 상수는 여섯 번째 재료가 쌓였을 때, 세 번째 재료부터 여섯 번째 재료를 이용하여 햄버거를 포장하고, 
# 아홉 번째 재료가 쌓였을 때, 두 번째 재료와 일곱 번째 재료부터 아홉 번째 재료를 이용하여 햄버거를 포장합니다.
# 즉, 2개의 햄버거를 포장하게 됩니다.

# 상수에게 전해지는 재료의 정보를 나타내는 정수 배열 ingredient가 주어졌을 때,
# 상수가 포장하는 햄버거의 개수를 return 하도록 solution 함수를 완성하시오.

In [ ]:
# [2, 1, 1, 2, 3, 1, 2, 3, 1]	2
# [1, 3, 2, 1, 2, 1, 3, 1, 2]	0

In [ ]:
l = [2, 1, 1, 2, 3, 1, 2, 3, 1]
h = []
ham_count = 0

for i in l:
    h.append(i)
    if [1, 2, 3, 1] in h:
        remove,l[1, 2, 3, 1]
        ham_count += 1

ham_count

0

In [ ]:
l = [2, 1, 1, 2, 3, 1, 2, 3, 1]

1, 2, 3 in l

(1, 2, True)

In [ ]:
# 2023/05/18

In [ ]:
대문자와 소문자가 섞여있는 문자열 s가 주어집니다. s에 'p'의 개수와 'y'의 개수를 비교해 같으면 True, 다르면 False를 return 하는 solution를 완성하세요. 'p', 'y' 모두 하나도 없는 경우는 항상 True를 리턴합니다. 단, 개수를 비교할 때 대문자와 소문자는 구별하지 않습니다.

예를 들어 s가 "pPoooyY"면 true를 return하고 "Pyy"라면 false를 return합니다.

In [ ]:
s = "Pyy"

a = s.upper().count('P')
b = s.upper().count('Y')

print(a == b)

False

In [ ]:
def solution(s):
    a = s.upper().count('P')
    b = s.upper().count('Y')
    return a == b

solution(s)

True

In [ ]:
[1,1,3,3,0,1,1]	[1,3,0,1]

In [ ]:
def solution(arr):
    answer_set = []
    answer_set = set(arr)
    return answer_set

answer_set

arr()

In [ ]:
def solution(arr):
    answer_set = set(arr)  # 리스트를 집합(set)으로 변환하여 중복된 원소 제거
    return answer_set

arr = [1, 1, 1, 2, 3, 3, 5, 5]
result = solution(arr)

print(result)

{1, 2, 3, 5}

In [ ]:
배열 arr가 주어집니다. 배열 arr의 각 원소는 숫자 0부터 9까지로 이루어져 있습니다. 이때, 배열 arr에서 연속적으로 나타나는 숫자는 하나만 남기고 전부 제거하려고 합니다. 단, 제거된 후 남은 수들을 반환할 때는 배열 arr의 원소들의 순서를 유지해야 합니다. 예를 들면,

arr = [1, 1, 3, 3, 0, 1, 1] 이면 [1, 3, 0, 1] 을 return 합니다.
arr = [4, 4, 4, 3, 3] 이면 [4, 3] 을 return 합니다.
배열 arr에서 연속적으로 나타나는 숫자는 제거하고 남은 수들을 return 하는 solution 함수를 완성해 주세요.

제한사항
배열 arr의 크기 : 1,000,000 이하의 자연수
배열 arr의 원소의 크기 : 0보다 크거나 같고 9보다 작거나 같은 정수

[1,1,3,3,0,1,1]	[1,3,0,1]

In [ ]:
answer = [1, 1, 2, 3, 3, 4]
a = set(answer)

a

{1, 2, 3, 4}

In [ ]:
문자열 str이 주어질 때, str을 출력하는 코드를 작성해 보세요.

제한사항
1 ≤ str의 길이 ≤ 1,000,000
str에는 공백이 없으며, 첫째 줄에 한 줄로만 주어집니다.

In [1]:
str = input()

print(str)

helloworld!!
helloworld!!

In [ ]:
# 정수 a와 b가 주어집니다. 각 수를 입력받아 입출력 예와 같은 형식으로 출력하는 코드를 작성해 보세요.

In [16]:
a,b = input().split()

print("a =", a)
print("b =", b)

4 5
a = 4
b = 5