<a href="https://colab.research.google.com/github/Gonyim/Practice/blob/main/programmers_lv0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 설명
# 문자열 s를 숫자로 변환한 결과를 반환하는 함수, solution을 완성하세요.

# 제한 조건
# s의 길이는 1 이상 5이하입니다.
# s의 맨앞에는 부호(+, -)가 올 수 있습니다.
# s는 부호와 숫자로만 이루어져있습니다.
# s는 "0"으로 시작하지 않습니다.
# 입출력 예
# 예를들어 str이 "1234"이면 1234를 반환하고, "-1234"이면 -1234를 반환하면 됩니다.
# str은 부호(+,-)와 숫자로만 구성되어 있고, 잘못된 값이 입력되는 경우는 없습니다.

In [7]:
def solution():
    s = int(s)
    return s

1234

In [ ]:
# 자연수 N이 주어지면, N의 각 자릿수의 합을 구해서 return 하는 solution 함수를 만들어 주세요.
# 예를들어 N = 123이면 1 + 2 + 3 = 6을 return 하면 됩니다.

In [28]:
n = 123
m = str(n)
# str(n)
# spilt()

# b = 'dsffsdfds'

for i in len(m):
    sum += int(m[i])


sum = list(m[0]) + list(m[1]) + list(m[2])
int(m[0]) + int(m[1]) + int(m[2])
# n.split(',')

3

In [ ]:
def solution():
    for i in len(m):
        sum += int(m[i])

print(sum)

In [53]:
#100,000,000 이하 자연수

def solution(n):
    answer = 0
    a = n // 100000000
    n = n % 100000000
    b = n // 10000000
    n = n % 10000000
    c = n // 1000000
    n = n % 1000000
    d = n // 100000
    n = n % 100000
    e = n // 100000
    n = n % 100000
    f = n // 100000
    n = n % 100000
    g = n // 10000
    n = n % 10000
    h = n // 1000
    n = n % 1000
    i = n // 100
    n = n % 100
    j = n // 10
    k = n % 10
    answer = a + b + c + d + e + f + g + h + i + j + k
    return answer

1

In [ ]:
def solution():
    answoer = 0

In [ ]:
# 예를 들어, 상수의 앞에 쌓이는 재료의 순서가 [야채, 빵, 빵, 야채, 고기, 빵, 야채, 고기, 빵]일 때, 
# 상수는 여섯 번째 재료가 쌓였을 때, 세 번째 재료부터 여섯 번째 재료를 이용하여 햄버거를 포장하고, 
# 아홉 번째 재료가 쌓였을 때, 두 번째 재료와 일곱 번째 재료부터 아홉 번째 재료를 이용하여 햄버거를 포장합니다.
# 즉, 2개의 햄버거를 포장하게 됩니다.

# 상수에게 전해지는 재료의 정보를 나타내는 정수 배열 ingredient가 주어졌을 때,
# 상수가 포장하는 햄버거의 개수를 return 하도록 solution 함수를 완성하시오.

In [ ]:
# [2, 1, 1, 2, 3, 1, 2, 3, 1]	2
# [1, 3, 2, 1, 2, 1, 3, 1, 2]	0

In [30]:
l = [2, 1, 1, 2, 3, 1, 2, 3, 1]
h = []
ham_count = 0

for i in l:
    h.append(i)
    if [1, 2, 3, 1] in h:
        remove,l[1, 2, 3, 1]
        ham_count += 1

ham_count

0

In [19]:
l = [2, 1, 1, 2, 3, 1, 2, 3, 1]

1, 2, 3 in l

(1, 2, True)